<ion-header>
  <ion-navbar>
    <ion-title>
      Topics
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="getTopics()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- <h2 padding> -->
    <!-- {{courseService.currentCourse}} -->
    <!-- This doesn't update as courseService.currentCourse updates though -->
  <!-- </h2> -->
<h3>Select the topics that you don't understand: </h3>
  <ion-row>
    <ion-col col-9>
      <ion-item>
        <ion-input type="text" [(ngModel)]="newTopic" placeholder="New Topic"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <button ion-button (click)="addTopic()">Add!</button>
    </ion-col>
  </ion-row>

  <div *ngIf="ready">
    <ion-list *ngFor="let topic of topicList">
      <ion-item>
        <ion-label>{{topic.name}}</ion-label>
        <ion-checkbox [(ngModel)]="checkedMap[topic.name]" (ionChange)="updateVote(topic.name);">
        </ion-checkbox>
        
        <button ion-button item-end clear icon-only (click)="editTopic(topic.name)" class="butt" style="padding-right:10px">
          <ion-icon name="create"></ion-icon>
        </button>

        <button ion-button item-end clear icon-only (click)="removeTopic(topic.name)" class="butt">
          <ion-icon name="close"></ion-icon>
        </button>

      </ion-item>
    </ion-list>
  </div>  


  <br>



</ion-content>
