<ion-header>
  <ion-navbar>
    <ion-title>ClassConfusion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2> Welcome to ClassConfusion!</h2>
  <br> <br>
  <h3>
    Select one of your courses below to view the lectures and topics for that class:
  </h3>

  <!-- Old List -->
  <!-- <ion-item *ngFor="let item of items" (click)="itemSelected(item)">
          <ion-label>{{item}}</ion-label>
          <ion-radio value=item *ngIf="item == "></ion-radio>
        </ion-item> -->

  <!-- Actual List -->
  <form (ngSubmit)="doSubmit($event)" [formGroup]="courseForm">
    <ion-list radio-group formControlName="courses">
      <ion-item>
        <ion-label>EECS 394</ion-label>
        <ion-radio value="EECS 394" checked="true"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>EECS 336</ion-label>
        <ion-radio value="EECS 336"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>EECS 330</ion-label>
        <ion-radio value="EECS 330"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>EECS 101</ion-label>
        <ion-radio value="EECS 101"></ion-radio>
      </ion-item>
      <!-- <button ion-button type="submit">Submit</button> -->
    </ion-list>
  </form>


  <div text-center>
    <button ion-button>
      Enroll in a new class
    </button>
  </div>

</ion-content>